/* General styles */
body {
    background-image: url("https://i.pinimg.com/originals/84/80/35/848035c0fbf1c82dee6e216eccba27b3.jpg");
    max-width: 100%;
    height: auto;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 400px;
    border: 2px solid #000;
    margin: 20px auto;
    padding: 40px;
    background-color: #d78080;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 90%;
}

.timedisplay {
    font-size: 5rem;
    padding-bottom: 10px;
}

.head {
    font-size: 2.5rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.button {
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    font-size: 1.25rem;
    border: none;
    border-radius: 5px;
    background-color: #fff;
    color: #333;
    transition: background-color 0.3s, color 0.3s;
}

.button:hover {
    background-color: #333;
    color: #fff;
}

/* Styles for mobile phones */
@media (max-width: 480px) {
    .timedisplay {
        font-size: 3rem;
    }

    .head {
        font-size: 2rem;
    }

    .button {
        font-size: 1rem;
        padding: 8px 16px;
    }
     .body{
        display: grid;
        place-items: center;
        background-image: url("https://i.pinimg.com/564x/9f/fe/23/9ffe23baf2587837514ecd95e698a5f1.jpg");
        background-repeat: no-repeat;
        
    }
    .container{
        background-color: bisque;
    }
}

